.feedback-reviews {
 margin: auto;
 &__card {
  &__header {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
  }
  &__wrapper {
   margin-top: 1em;
   //    display: flex;
   //    justify-content: space-between;
   //    align-items: stretch;
   &__left {
    margin-right: 0.4em;
   }
   &__left,
   &__right {
    width: 49%;
   }
  }
 }
}
